body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.header-value {
    display: flex;
}
.header-value p{
   
    padding-right: 25px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: white;
}